<%= javascript_include_tag "syllabuses_new" %>

<h1>Grade para o curso <%=@major.name if @major%></h1>

<%= render 'form' %>

<div id="syllabus-container"></div>

<%= link_to 'Back', major_syllabuses_path %>
