body {
	margin: 0px;
}

#syllabus-container {
	width: 100%;
	display: table;
	border: solid 1px;
	border-right: 0px;
	table-layout: fixed;
}

.course-container {
	display: table-cell;
	border-right: solid 1px;
}

.course-element {
	background-color: white;
	min-height: 80px;
	text-align: center;
	position: relative;
	border: solid 1px;
}

.course-element-content {
	width: 100%;
}

.course-element-control {
	width: 100%;
	height: 32px;
	position: absolute;
	bottom: 0px;
}

.button-up {
	float: left;
	height: 32px;
	width: 32px;
	background-image: url(../assets/arrow_up.png);
	background-repeat: no-repeat;
	background-position: center;
}

.button-down {
	float: left;
	height: 32px;
	width: 32px;
	background-image: url(../assets/arrow_down.png);
	background-repeat: no-repeat;
	background-position: center;
}